<% img = ['https://images.unsplash.com/photo-1577106263724-2c8e03bfe9cf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80', 'https://images.unsplash.com/photo-1600565193348-f74bd3c7ccdf?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1470&q=80', 'https://images.unsplash.com/photo-1604328471151-b52226907017?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1471&q=80', 'https://images.unsplash.com/photo-1571805529673-0f56b922b359?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1470&q=80', 'https://images.unsplash.com/photo-1414235077428-338989a2e8c0?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1470&q=80']  %>

<div class='chef-index-container'>
<h1>Explore Chefs</h1>

<% @chefs.each do |chef| %>
  <div class='chef-index-cards'>
    <%= link_to(image_tag(img.sample), chef_path(chef), class: "chef-index-img") %>
    <div class='chef-index-detail'>
      <%= link_to chef_path(chef) do %>
        <h3 class='chef-index-name'><%= chef.user.first_name.capitalize %> <%= chef.user.last_name.capitalize %></h3>
      <% end %>
      <p>Cuisine: <%= chef.cuisine %></p>
      <p>Experience: <%= chef.years_experience %> years</p>
      <p>Rating: <%= [3, 4, 5].sample %>*</p>
    </div>
  </div>
<% end %>
</div>
