<div class="container chef-profile-container">
  <h1> <%= @chef.user.first_name %> <%= @chef.user.last_name %> </h1>

  <div class="chef-profile-food-image">
  <img src="https://images.unsplash.com/photo-1568822617270-2c1579f8dfe2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=880&q=80" alt="profile picture" class="chef-profile-avatar" height="300">
  <img src="https://images.unsplash.com/photo-1598449426314-8b02525e8733?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1326&q=80" alt="food"
  style="width: 100%; height: auto;">
  </div>


<div class="d-flex justify-content-center">
<%= link_to "Make a new booking", new_chef_booking_path(@chef), class:"btn btn-success"%>
</div>
<p></p>
<br>
  <h5> Rate: £<%= (@chef.hourly_rate.round(0)) %>.00 per hour</h5>
  <h5>Cuisine: <%= @chef.cuisine %></h5>

  <p>All the very best ingredients and a selection of my own personal recipies to rival any high street restaurant. <br>
  This will certainly guarantee you a delicious meal!</p>
  <br>
  <p>There is a wide range of options to suit including lots of
  vegan and vegetarian meals. </p>
  <br>
  <h2>Reviews</h2>

  <% if @chef.bookings.all? { |booking| booking.review.nil? } %>
    <h5>No reviews yet.</h5>
  <% end %>

  <% @chef.bookings.each do |booking| %>
    <% if booking.review.present? %>
      <p><%= booking.review.review_content %></p>
      <p><% booking.review.review_rating.times do %>⭐️ <% end %></p>
    <% end %>
  <% end %>

  <br>
  <%= link_to chefs_path do %>
    <i class="fas fa-chevron-left"></i>
  <% end %>

</div>
