<div class="container">
  <div class="profile-header">
    <h1>My Profile</h1>

    <h5><%= link_to "View my bookings", bookings_path %></h5>
  </div>

  <div class="chef-profile-food-image">
    <%= image_tag "avatar.jpg", alt:"avatar", class: "chef-profile-avatar", height: "300"%>
    <img src="https://images.unsplash.com/photo-1535473895227-bdecb20fb157?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzR8fHNldCUyMHRhYmxlfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60" alt="food">
  </div>

  <div class="cards container">
    <div class="card-profile">
      <h2>My Details</h2>
      <p>First Name: <%= current_user.first_name %></p>
      <p>Last Name: <%= current_user.last_name %></p>
      <p>Address: <%= current_user.address %></p>
    </div>

  <%= link_to "Create Chef Profile", new_chef_path, class:"btn btn-success create-chef" %>

  </div>
</div>
